<h2>Edit Player</h2>
<form action="/players/<%= player.id %>?_method=PUT " method="POST">
  <%- include("_form_fields") %>
  <a class="btn btn-danger" href="/players">Cancel</a>
  <button class="btn btn-primary" type="submit">Update</button>
</form>
