<!-- <h2 class="page-header">Search Players</h2>
<form action="/players" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label for="">Player Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>" />
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form> -->
