<div>
  <a href="/teams">Teams</a>
  <a href="/teams/new">Add New NBA Team</a>
  <a href="/players">Players</a>
  <a href="/players/new">Add Player to Team</a>
  <img src="../../images/download.jpg" alt="" />
</div>
