<div>
  <label for="">Team Name</label>
  <input type="text" name="teamName" value="<%= team.teamName %>" />
</div>
<div>
  <label for="">Location</label>
  <input type="text" name="location" value="<%= team.location %> " />
</div>
<div>
  <label for="">Arena</label>
  <input type="text" name="arena" value="<%= team.arena %>" />
</div>
<div>
  <label for="">Tag</label>
  <input type="text" name="tag" value="<%= team.tag %>" />
</div>
